<!DOCTYPE html>
<html>
  <head>
    <title>File list</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <ul>
      <% files.forEach( function(file) { %>
          <li> <%= file.fileName %> </li>
      <% }) %>
      <li>
    </ul>

  </body>
</html>
