<!DOCTYPE html>
<html>
  <head>
    <title>File list</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <ul>
      <% files.forEach( function(file) { %>
          <li>
            <a href="/show-file?fileName=<%= file.fileName %>&extension=<%= file.extension %>">
              <%= file.fileName %>
            </a>
          </li>
      <% }) %>
      <li>
    </ul>

  </body>
</html>
