<!DOCTYPE html>
<html>
  <head>
    <title>Media play</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% if(image) { %>
      <div>
        <img src="data:image/jpeg;base64, <%= image %>" />
      </div>
    <% } %>

    <% if(video) { %>
      <div>
        <video width="356" height="200" controls >
          <source src="<%= video %>" type="video/mp4" />
        </video>
      </div>
    <% } %>

  </body>
</html>
