<!DOCTYPE html>
<html>
  <head>
    <title>Media play</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <% if(image) { %>
      <div>
        <img src="data:image/jpeg;base64, <%= image %>" />
      </div>
    <% } %>

  </body>
</html>
